*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--title-size: 28px;
}

.container {
	height: clamp(600px, 100vh, 1080px);
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}

.container .main-menu {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}

.main-menu .input-field-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80vw;
}

.name-field-wrapper:nth-child(2) {
	display: grid;
	justify-items: end;
}

.input-field-wrapper .name-field-wrapper {
	display: grid;
	grid-template-row: repeat(2, 1fr);
}

.name-field-wrapper input {
	width: 200px;
	height: 25px;
	padding: 4px;
}

.main-menu h1 {
	font-size: 3rem;
}

.button {
	height: 2em;
	width: 8em;
}

/* For game */

.board-section {
	display: grid;
	justify-content: center;
}

.board-section .board-wrapper {
	width: 400px;
	height: 400px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.board-wrapper .cell {
	border: 1px solid black;
}

footer {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}

footer .result-card {
	text-align: center;
}

footer .button-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}