@font-face {
    font-family: 'rustic_shineregular';
    src: url('../fonts/rusticshine-webfont.woff2') format('woff2'),
         url('../fonts/rusticshine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--title-font-size: 3rem;
	--main-font: 'rustic_shineregular';
}

.container,
input,
button {
	font-family: var(--main-font);
	letter-spacing: 0.1rem;
}

.container {
	height: clamp(600px, 100vh, 1080px);
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
}

.container .main-menu {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
}

.main-menu .input-field-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80vw;
}

.name-field-wrapper:nth-child(2) {
	display: grid;
	justify-items: end;
}

.input-field-wrapper .name-field-wrapper {
	display: grid;
	grid-template-row: repeat(2, 1fr);
}

.name-field-wrapper input {
	width: 200px;
	height: 25px;
	padding: 4px;
}

.main-menu h1 {
	font-size: var(--title-font-size);
}

.button {
	height: 3em;
	width: 12em;
}

/* For game */

.board-section {
	display: grid;
	justify-content: center;
}

.board-section .board-wrapper {
	width: 400px;
	height: 400px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.board-wrapper .cell {
	border: 1px solid black;
	display: grid;
	align-content: center;
	justify-content: center;
	font-size: var(--title-font-size);
}

footer {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
}

footer .result-card {
	text-align: center;
}

footer .button-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
}